@using HMS.Web.Main.Models
@model LoginViewModel
@{
    Layout = null;
    ViewBag.Title = "Đăng nhập";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="@ViewBag.Title">
    <meta name="author" content="GeeksLabs">
    <meta name="keyword" content="@ViewBag.Title">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>@ViewBag.Title</title>

    @Styles.Render("~/Main/css")

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
    <!--[if lt IE 9]>
    @Scripts.Render("~/bundles/ie8")
    <![endif]-->

    <style>.login-form .btn {font-family: sans-serif;}</style>
</head>

<body class="login-img3-body">

    <div class="container">

        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login-form", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="login-wrap">
                <p class="login-img"><i class="icon_lock_alt"></i></p>

                <br />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_profile"></i></span>
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @autofocus="", @placeholder = "Tên đăng nhập"})
                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Mật khẩu" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <label class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                    <!--<span class="pull-right"> <a href="#"> Forgot Password?</a></span>-->
                </label>
                <button class="btn btn-primary btn-lg btn-block" type="submit">Đăng nhập</button>
            </div>
        }

    </div>
    @Scripts.Render("~/bundles/jqueryval")
</body>
</html>

